html {
  font-size: 62.5%;
}


body {
  font-family: $font-family;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
  color: #86939E;
}


/* Headings */

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 300;
}

.h1--black,
.h1--white {
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: -2px;
  @media screen and (min-width: $breakpoint-2) {
    font-size: 4.6rem;
  }
}
.h1--black {  color: #43484D;  }
.h1--white {  color: #fff;  }

.h2--black {
  font-size: 2.6rem;
  font-weight: 300;
  color: #43484D;
  @media screen and (min-width: $breakpoint-2) {
    font-size: 3rem;
  }
}

.h3--black,
.h3--white {
  font-size: 1.7rem;
  font-weight: 400;
}
.h3--black {  color: #43484D;  }
.h3--white {  color: #fff;  }

.subheader--1 {
  font-size: 1.7rem;
  @media screen and (min-width: $breakpoint-2) {
    font-size: 2rem;
  }
}

.caption--grey {
  font-size: 1.4rem;
}

.tag--blue {
  color: $colour-blue;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 400;
}
.tag--white {
  font-weight: 400;
  color: #fff;
}

.opacity-80 {  opacity: 0.8; }
.opacity-60 { opacity: 0.6 }

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:focus {
    text-decoration: underline;
  }
}
