
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$font-family: 'Roboto', sans-serif;


$colour-blue: #358ED7;
$colour-aqua: #39ADD1;
$colour-green: #7DC855;


$breakpoint-1: 400px;
$breakpoint-2: 600px;
$breakpoint-3: 800px;
$breakpoint-4: 1100px;
