button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

  font-family: $font-family;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: $colour-blue;

  min-height: 42px;
  width: 100%;

  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;

  transition: transform 0.3s;

  &:hover {
    transform: translateY(-10%);
  }

  &:active,
  &:focus {
    transform: translateY(-10%);
  }
}

.pricing__plan__cta {
  background: transparent;
  border: 2px solid #E1E8EE;
}

.pricing__plan--featured .pricing__plan__cta {
  background: $colour-green;
  color: #fff;
  border-color: $colour-green;
}


.button--tall {
  height: 60px;
  width: 160px;
  background: $colour-green;
  border: 0;
  color: #fff;
}


.site__nav__toggle {
  display: inline-flex;
  align-items: center;

  :hover,
  &:active,
  &:focus {
    transform: none;
  }
}
