.site__footer {
  background: #545E6B;
  padding-top: 40px;
  padding-bottom: 40px;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: $breakpoint-3) {
      flex-wrap: nowrap;
    }
  }
}

.site__footer__branding,
.site__footer__nav,
.site__footer__language {
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: $breakpoint-3) {
    padding-right: 50px;
    margin-bottom: 0;
  }

}

//

.site__footer__branding {
  @media screen and (min-width: $breakpoint-3) {
    width: 40%;
  }
}

.site__footer__branding__logo {
  width: 68px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

//

.site__footer__nav {

  @media screen and (min-width: $breakpoint-3) {
    width: 40%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  & > ul {
    display: flex;
    text-align: center;

    @media screen and (min-width: $breakpoint-3) {
      text-align: left;
    }
  }
}

.site__footer__nav__navlist {
  width: 30%;

  h4 {
    margin-bottom: 10px;
  }
}

.site__footer__nav__subnav li {
  margin-bottom: 10px;
}


///

.site__footer__lang {

  margin-bottom: 0;

  @media screen and (min-width: $breakpoint-3) {
    width: 20%;
  }



}

.select-container {
  position: relative;
  height: 30px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;

  select {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    padding-right: 20px;
    padding-left: 30px;

    width: 100%;
    height: 100%;
    outline: none;
  }

  .lang-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

  }

  .dropdown-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

}
