.site__header {
  position: fixed;

  z-index: 10;

  height: 70px;
  width: 100%;

  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
  background: #fff;

  @media screen and (min-width: $breakpoint-2) {
    height: 100px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;

    @media screen and (max-width: $breakpoint-2) {
      justify-content: space-between;
    }
  }
}

.site__title {
  img {
    height: 22px;
  }
  margin-right: 40px;
}



///
