.site__navigation {

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  li:not(:last-child) {
    margin-right: 20px;
  }

  a {
    font-weight: 400;
  }

}

.site__navigation__toggle {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  outline: none;

  @media screen and (min-width: $breakpoint-2) {
    display: none !important;
  }

}

@media screen and (max-width: $breakpoint-2) {

  .site__nav {
    position: absolute;
    top: 70px;
    width: 100%;
    left: 0;
    background: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);

    display: block;
    transform: translateY(-200%);
    transition: transform 1s;
    z-index: -1;

    li {
      display: block;
      width: 92%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;

      &:not(:last-child) {
        margin-right: auto;
      }
    }

  }

  body.nav--open {

    .site__nav {
      transform: translateY(0);
    }

    .site__main {
      opacity: 0.1;
    }

  }


}
