body {
  background: #fff;
}

.site__main {
  padding-top: 70px;
  transition: opacity 1s;

  @media screen and (min-width: $breakpoint-2) {
    padding-top: 100px;
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;

  width: 92%;
  max-width: 1140px;
  min-height: 100%;
}

.wrapper--inner {
  @extend .wrapper;
  width: 100%;
  max-width: 660px;
}
