
#contents {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}


.contents__image {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-bottom: 20px;

  img {
    width: 80%;
  }

  @media screen and (min-width: $breakpoint-3) {
    width: 45%;
    margin-bottom: 0;
  }
}

.contents__slideshow {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  transform: translateX(-20px);

  @media screen and (min-width: $breakpoint-3) {
    width: 40%;
    margin-bottom: 0;
    margin-left: 0;
    transform: none;
  }
}

.contents__slideshow__slide__title,
.contents__slideshow__slide__description {
  max-width: 360px;
}

.contents__slideshow__slide__description {
  margin: 15px 0 20px;
}

.contents__slideshow__slide {
  margin-bottom: 30px;
}

.contents__slideshow__slide__cta {
  color: $colour-blue;
  font-weight: 400;
}



/* Slick */

.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;

  background: 0;
  border: 0;
  padding: 0;
  width: auto;

  outline: none;

  &:hover,
  &:active,
  &:focus {
    transform: translateY(-50%);
  }


}
.slick-prev {
  visibility: hidden;
  position: absolute;
  @extend .sr-only;
}


.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 10px;
  }

  li button {
    height: 6px;
    width: 6px;
    min-height: 6px;
    background: #86939E;
    border-radius: 50%;
    font-size: 1px;
    padding: 0;
    opacity: 0.2;

    outline: none;

    &:hover,
    &:active,
    &:focus {
      transform: none;
      height: 10px;
      width: 10px;
      background: $colour-blue;
    }

  }
  li.slick-active button {
    height: 10px;
    width: 10px;
    background: $colour-blue;
    opacity: 1;

  }

  button {
    background: 0;
    border: 0;
  }
}
