#cta {
  box-shadow: 0px -80px 0px 80px #5E6977;
  background: #5E6977;
  color: #fff;
  text-align: center;

  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: $breakpoint-3) {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}


.clients {
  margin-top: 70px;
}

.clients__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding: 0;
}

.clients__list__item {
  height: 25px;
  margin: 0 10px 20px;
  opacity: 0.2;
  transition: opacity 0.5s;

  @media screen and (min-width: $breakpoint-2) {
    height: 36px;
    margin: 0 15px 20px;
  }

  &:hover {
    opacity: 1;
  }

  img {
    height: 100%;
    width: auto;
  }
}
