#features {
  padding-top: 40px;
  padding-bottom: 70px;

  @media screen and (min-width: $breakpoint-3) {
    padding-top: 70px;
    padding-bottom: 120px;
  }
}


.features__hero {

  width: 100%;

  margin: 0;
  margin-bottom: 30px;

  img {
    width: 100%;
    border-radius: 16px;
  }

  @media screen and (min-width: $breakpoint-3) {
    margin-bottom: 50px;
  }
}


.featurelist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.featurelist__item {
  list-style: none;
  width: 100%;
  max-width: 320px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $breakpoint-3) {
    width: 33%;
    margin-bottom: 0;
  }
}

.featurelist__item__icon {
  height: 80px;
  width: 80px;
  margin: 0;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 48px;
  }
}

.featurelist__item__title {
  margin-bottom: 10px;
}
