/* Pricing */

#pricing {
  background: #F9F9F9;

  padding-top: 40px;
  padding-bottom: 30px;

  @media screen and (min-width: $breakpoint-3) {
    padding-top: 70px;
    padding-bottom: 50px;
  }

}




// Plans Table

.pricing__plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-3) {
    flex-wrap: nowrap;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
  }
}

.pricing__plan {

  max-width: 380px;
  background: #fff;
  padding: 30px;

  width: 100%;
  margin-bottom: 15px;

  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
  border-radius: 6px;

  @media screen and (min-width: $breakpoint-3) {
    width: 33.3%;
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;
  }
}

.pricing__plan:not(:last-child) {
  border-right: 1px solid #F4F4F4;
}


.pricing__plan__header,
.pricing__plan__price {
  border-bottom: 1px solid #F4F4F4;
  text-align: center;
  padding-bottom: 20px;
}

.pricing__plan__title {
  margin-bottom: 5px;
}

.pricing__plan__price {
  padding-top: 20px;
}

.pricing__plan__features {
  padding-top: 20px;
  padding-bottom: 20px;


  ul {
    padding-left: 0;
  }
}

.pricing__plan__feature {
  list-style: none;
  margin-bottom: 20px;
}
.pricing__plan__feature__icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.pricing__plan__feature__text {
  display: inline;
  vertical-align: middle;
}

.pricing__plan__feature[aria-hidden="true"] {
  color: #BFC7CE;
  .pricing__plan__feature__icon {
    visibility: hidden;
  }
}



// Featured Pricing Plan

.pricing__plan--featured {
  background: $colour-aqua;
  color: rgba(255,255,255,0.6);

  .tag--blue,
  .h1--black {
    color: #fff;
  }

  .pricing__plan__header,
  .pricing__plan__price {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .pricing__plan__feature__text {
    color: #fff;
  }
}


