/**
* Pixel2HTML -
* Screen 1
*/

.section__header {
  text-align: center;
  margin-bottom: 30px;

  h2 {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 600px ) {
    margin-bottom: 50px;
  }
}
